@model PrescriptionViewModel

@{
    ViewData["Title"] = "Medicine Page";
}
<div>
    Prescription's data: 
    Name: @Model.Name
</div>

<a asp-area="" asp-controller="Medicine" asp-action="Add">go to Add</a>

    <div class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var medicine in Model.Medicines)
                {
                    <tr>
                        <th scope="row">@(Model.Medicines.IndexOf(medicine)+1)</th>
                        <td>@medicine.Name</td>
                        <td>
                            <a asp-area="" asp-controller="Medicine" asp-action="Delete" asp-route-indexOfMedicine="@Model.Medicines.IndexOf(medicine)">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
